body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1A1A1B;
}

::-webkit-scrollbar-thumb {
    background: #343536;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3a3b3c;
}

::-webkit-scrollbar-thumb:active {
    background: #4e5152;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-out;
}

header {
    height: 80px;
    width: 100%;
    margin-top: -20px;
    background-color: #1A1A1B;
    border-bottom: 1px solid #343536;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-top: 20px;
}

button {
    background-color: #1A1A1B;
    color: white;
    border: 1px solid #343536;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    vertical-align: middle;
}

button:hover {
    background-color: #39393c;
}

button:active {
    background-color: #303032;
}

h1 {
    margin-left: 10px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.acImg {
    width: 40px;
}

.acImg:hover {
    opacity: 0.8;
}

.acImg:active {
    opacity: 1;
}

.pwr {
    margin: auto;
    width: 700px;
    background-color: #1A1A1B;
    border: 1px solid #343536;
    border-radius: 4px;
    border-top-right-radius: 0px;
    margin-top: 25px;
}

article {
    max-height: 170px;
    position: relative;
    /* overflow: hidden; */
    padding-bottom: 20px;
    padding-left: 30px;
}

.sideArtc {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    left: 11px;
    justify-content: space-between;
    z-index: 1;
}

.pfp {
    width: 30px;
}

.like {
    width: 20px;
    margin-left: 4px;
    margin-top: 15px;
}

.likeCount {
    font-size: 12pt;
    margin-left: 5px;
}

.dislike {
    width: 22px;
    margin-left: 2px;
}

.dislikeCount {
    font-size: 12pt;
    margin-left: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-left: 25px;
    margin-right: 25px;
}

h3 {
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}

#more {
    display: none;
}

article:after {
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 80%;
    width: 95%;
    content: "";
    background: linear-gradient(to top,
            #1A1A1B 25%,
            rgba(255, 255, 255, 0) 75%);
}

.rmt {
    position: absolute;
    z-index: 2;
    color: #6F8FAF;
    font-size: 11pt;
    bottom: 1px;
    left: 42%;
    right: 38%;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #343536;
    width: 700px;
    background: #1A1A1B;
    border-radius: 20px;
    margin-left: 30px;
    color: white;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    margin-top: 15px;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}