body {
    background-color: black;
    color: white;
}

header {
    height: 80px;
    width: 1920px;
    margin-top: -20px;
    background-color: #1A1A1B;
    border-bottom: 1px solid #343536;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h1 {
}

.pwr {
    margin: auto;
    width: 800px;
    background-color: #1A1A1B;
    border: 1px solid #343536;
    border-radius: 4px;
    border-top-right-radius: 0px;
    margin-top: 25px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-left: 25px;
    margin-right: 25px;
}

h3 {
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}

#more {
    display: none;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 30%;
    background: #f1f1f1;
    margin-top: 15px;
    /* margin-left: 30px; */
    justify-content: center;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    margin-top: 15px;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}